In [1]:
#import pustaka 
import pandas as pd
import numpy as np
from sklearn import svm

In [2]:
IrisData=('iris_data.txt')
df2=pd.read_csv(IrisData)

In [3]:
df2

    5.1  3.5  1.4  0.2  1
0   4.9  3.0  1.4  0.2  1
1   4.7  3.2  1.3  0.2  1
2   4.6  3.1  1.5  0.2  1
3   5.0  3.6  1.4  0.2  1
4   5.4  3.9  1.7  0.4  1
..  ...  ...  ...  ... ..
94  5.7  3.0  4.2  1.2  2
95  5.7  2.9  4.2  1.3  2
96  6.2  2.9  4.3  1.3  2
97  5.1  2.5  3.0  1.1  2
98  5.7  2.8  4.1  1.3  2

[99 rows x 5 columns]

In [4]:
X=np.asarray(df2)  #merubah data df2 jadi array biar bisa dioperasikan

In [10]:
x_train=np.concatenate((X[0:40,0:4],X[50:90,0:4]),axis=0) 
x_testing=np.concatenate((X[41:49,0:4],X[91:99,0:4]),axis=0)

y_train=np.concatenate((X[0:40,4],X[50:90,4]),axis=0) 
y_testing=np.concatenate((X[41:49,4],X[91:99,4]),axis=0)

#membagi data jadi training dan testing, (np.cpncatenate)untuk mengabung 2 matrix

In [11]:
clf=svm.SVC()   #clf (clasifikasi) variabel ini bisa diubah

In [12]:
clf.fit(x_train,y_train)

SVC()

In [14]:
y_prediksi=clf.predict(x_testing)
print(y_prediksi)
print(y_testing)

[1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2.]
[1. 1. 1. 1. 1. 1. 1. 1. 2. 2. 2. 2. 2. 2. 2. 2.]